/* @/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Variables */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* colorful background for portfolio header */
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.bg-animated-gradient {
  background: linear-gradient(-45deg, #22E4AC, #1BD7BB, #14C9CB, #0FBED8);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.bg-animated-gradient-dark {
  background: linear-gradient(-45deg, #093a2c, #084038, #063d3e, #05363e);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

/* TailwindCSS custom styling for inline code */
.prose code {
  background-color: #090909; /* dark blackish background */
  color: #00ff40; /* bright color for code */
  padding: 0.18rem 0.3rem;
  border-radius: 0.17rem;
  font-size: 0.9em;
  font-family: monospace;
}

details summary {
  cursor: pointer;
  padding: 0.5rem;
  background-color: #2c2c2c;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

details[open] summary {
  background-color: #444444;
}

details {
  padding: 0.5rem;
  border: 1px solid #333;
  border-radius: 0.5rem;
  margin-top: 1rem;
  background-color: #1a1a1a;
  
}

/* globals.css */
.scroller {
  max-width: 600px;
  margin: 2rem auto;
}

.scroller__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-block: 1rem;
}

.scroller[data-animated='true'] {
  overflow: hidden;
  mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  -webkit-mask-image: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated='true'] .scroller__inner {
  width: max-content; /*causes card to overflow*/
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction='right'] {
  --_animation-direction: reverse;
}
.scroller[data-direction='left'] {
  --_animation-direction: forwards;
}
.scroller[data-speed='fast'] {
  --_animation-duration: 20s;
}
.scroller[data-speed='slow'] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.tag {
  padding: 1rem;
  background: hsl(215, 25%, 27%);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem hsl(218, 33%, 9%);
}
